# Auto detect text files and perform LF normalization
* text=auto

# Force LF for common DevOps / docs files
*.md    text eol=lf
*.sh    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.tf    text eol=lf
